.ball {
    position:fixed;
    top: 20%;
    left: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

.inner_circle {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
    width: 50%;
    background: #FCE4EC;
    border: 5px solid #666;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    background: -moz-linear-gradient(45deg, rgba(163,163,163,1) 6%, rgba(154,154,154,1) 11%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(6%, rgba(163,163,163,1)), color-stop(11%, rgba(154,154,154,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(163,163,163,1) 6%, rgba(154,154,154,1) 11%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(163,163,163,1) 6%, rgba(154,154,154,1) 11%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(163,163,163,1) 6%, rgba(154,154,154,1) 11%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(163,163,163,1) 6%, rgba(154,154,154,1) 11%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#A3A3A3',GradientType=1 ); /* ie6-9 */
}

.answer {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;

    background: #EEEEEE;
    box-sizing: border-box;
    /* copied from https://bennettfeely.com/clippy/ */
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    color: #fff;
    height: 90%;

    padding: 25px;
    position: relative;

    text-transform: uppercase;
    transform: scale(0.95) rotate(5deg);
    width: 90%;

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.number8 {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    color: #FAFAFA;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 130px;
    letter-spacing: 3px;
    word-spacing: 3.8px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;

}